<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>Salesforce Simplified IDE</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/album/album.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script>
	
	$( document ).ready(function() {
		//navigate();
		var url = window.location.href;
		var map = new Map();
		url = url.replace("/#", "?");
		if(window.location.href.includes("#")){
			window.location.href = url;
		}
	});
	
	</script>
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Salesforce Simplified IDE | Salesforce Comparator | Salesforce Simplified Comparator by Salesforce Simplified.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">We are on</h4>
              <ul class="list-unstyled">
                <li><a href="https://github.com/rajnikantroy/SalesforceMultiOrgIDE" class="text-white">GitHub</a></li>
                <li><a href="https://www.facebook.com/salesforcesimplified/" class="text-white">Facebook</a></li>
                <li><a href="https://salesforcesimplify.blogspot.com" class="text-white">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <!--  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>-->
		 <span class="glyphicon glyphicon-console white" aria-hidden="true"></span>
			  
            <strong>Salesforce Simplified IDE</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Salesforce Simplified IDE</h1>
          <p class="lead text-muted">Simplified IDE helps developers to compare the metadata list, metadata details comparator like any text compare tool.</p>
          <p>
            <a href="#" class="btn btn-primary my-2" data-toggle="modal" data-target="#org1SigninModal">Logon to org1</a>
            <a href="#" class="btn btn-secondary my-2"  data-toggle="modal" data-target="#org2SigninModal">Logon to org2</a>
          </p>
        </div>
      </section>
    </main>

<div class="modal fade" id="org1SigninModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Signin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
  <div class="form-group">
     <label for="exampleInputEmail1">Connecting to</label>
    <select class="form-control" id="EnvironmentFormControlSelect1">
      <option>Production (login.salesforce.com)</option>
      <option>Sandbox (test.salesforce.com)</option>
    </select>
  </div>
 <!-- <div class="form-group">
    <label for="exampleInputPassword1">API Version</label>
    <select class="form-control" id="ApiVersionFormControlSelect1">
      <option>44.0</option>
      <option>43.0</option>
      <option>42.0</option>
      <option>41.0</option>
      <option>40.0</option>
    </select>
  </div>-->
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">I agree to the terms of service</label>
  </div></br>
 <small><b> Simplified IDE is free to use, but is not an official salesforce.com product. Simplified IDE has not been officially tested or documented.</b></small>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <a href="../src/ide-pages/list-compare.html"><button type="button" class="btn btn-primary">Login with Salesforce</button></a> -->
        <a href="https://login.salesforce.com/services/oauth2/authorize?response_type=token&client_id=3MVG9d8..z.hDcPLcajqeytXrjHHG4NX9WIyienP7JmHA7pl6GexIE7pnesNUywfKKET6IR3oEqUgHmc_I1vC&redirect_uri=https://salesforcemultiorgide.herokuapp.com/index?"><button type="button" class="btn btn-primary">Login with Salesforce</button></a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="org2SigninModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Signin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Connecting to</label>
    <select class="form-control" id="EnvironmentFormControlSelect1">
      <option>Production(login.salesforce.com)</option>
      <option>Sandbox(test.salesforce.com)</option>
    </select>
  </div>
  <!--  <div class="form-group">
    <label for="exampleInputPassword1">API Version</label>
    <select class="form-control" id="ApiVersionFormControlSelect1">
      <option>44.0</option>
      <option>43.0</option>
      <option>42.0</option>
      <option>41.0</option>
      <option>40.0</option>
    </select>
  </div>-->
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">I agree to the terms of service</label>
  </div></br>
 <small><b> Simplified IDE is free to use, but is not an official salesforce.com product. Simplified IDE has not been officially tested or documented.</b></small>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/ide-pages/list-compare.html"><button type="button" class="btn btn-primary">Login with Salesforce</button></a>
      </div>
    </div>
  </div>
</div>

    <footer class="text-muted">
      <div class="container">
       <!--  <p class="float-right">
          <a href="#">Back to top</a>
        </p> -->
        <p>some short info for multi IDE.</p>
        <p>New to Salesforce Simplified IDE? <a href="https://salesforcesimplify.blogspot.com/">Visit the blog</a> or follow <a href="https://fb.com/salesforcesimplified">facebook page</a>.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>
    
  </body>
</html>
